.dose-container {
  width: 700px;
  margin: 20px 8px;
  padding: 20px;
  background-color: rgb(230, 230, 230);
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgb(180, 180, 180);
  border: 1px solid rgb(220, 220, 220);
}
